---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section class:list={['w-full max-w-3xl px-6 mt-24 flex flex-col items-center text-center', className]}>
  <slot />
</section>
